---
import type { Service } from 'src/pages/index.astro';
import ServiceLogo from './ServiceLogo.astro';

interface Props {
    service: Service
}

const {service} = Astro.props;
---
<div class="flex flex-row gap-2 items-center">
    <ServiceLogo
        iconName={service.name.split(" ")[0]?.toLowerCase() ?? ""}
    />
    <h3>{service.name}</h3>
</div>