---
import type { Service } from "src/pages/index.astro";

interface Props {
    service: Service;
}

function getRuleCount(service: Service): number {
    // 0 if all exporters in service have no/null rules
    return (
        service.exporters
            .map((exporter) => {
                return exporter.rules?.length;
            })
            .reduce((prev, cur) => {
                return (prev ?? 0) + (cur ?? 0);
            }, 0) ?? 0
    );
}

const {service} = Astro.props;
---
<span class="tag">{`${getRuleCount(service)} rules`}</span>
