---
interface Props {
    service: Service;
}

import type { Service } from "src/pages/index.astro";

import {ServiceHeader, ServiceTag} from "./ServiceRulesDialog.tsx";
import { ServiceRulesDialog } from "./ServiceRulesDialog";
import { Card } from "../ui/card";

const { service } = Astro.props;
---

<Card key={service.name} className="p-4 grid grid-rows-subgrid gap-3 row-span-3">
<!-- Header -->
    <div class="row-start-1 row-end-2">
        <ServiceHeader service={service} />
    </div>
    <!-- Rules -->
    <div class="row-start-2 row-end-3 text-ellipsis line-clamp-3">
        <ServiceTag service={service} />
        <p class="inline">
            {
                service.exporters.map((exp) => {
                    return exp.rules?.map((rule) => rule.name).join(", ");
                })
            }
        </p>
    </div>

    <!-- Astro integration glitching?? -->
    <div class="row-start-3 row-end-4">
        <ServiceRulesDialog service={service} client:load />
    </div>
</Card>
