---
import "../base.css";
import json from "data/rules.json";
import Header from "src/components/Header.astro";
import ServiceCard from "src/components/ServiceCard.astro";

export type RuleSet = typeof json;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Inter -->
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<!-- Jetbrains Mono? -->
		<!-- Use BunnyCDN instead? -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"
			rel="stylesheet"
		/>

		<title>Awesome Astro Prometheus</title>
	</head>
	<body>
		<Header />
		<main class="mx-auto max-w-5xl px-4 my-8">
			<h1>Browse Library</h1>
			<input type="search" class="w-full"/>
			{
				json.groups.map((group) => {
					return (
						<section [data-group-name]={group.name} class="mb-16" >
							<h2>{group.name}</h2>
							{/* Card grid */}
							<div class="grid grid-dynamic-base gap-6">
								{group.services.map((service) => {
									return (
										<ServiceCard service={service}/>
									);
								})}
							</div>
						</section>
					);
				})
			}
		</main>
		<footer class="p-4 border-t">Built with Astro.</footer>
	</body>
</html>
