---
import { Icon } from "astro-icon/components";
interface Props {
    id: string;
}
const { id } = Astro.props;
---

<dialog id={id}>
    <!--  -->
    <section class="border-b top-0 sticky p-4 z-20 bg-white">
        <span class="flex flex-row items-center">
            <!-- Grow to push the button to the end -->
            <span class="flex-grow">
                <slot name="header" />
            </span>
            <!-- Close button -->
            <button class="self-end" id={`close-dialog-${id}`}
                ><Icon name="ph:x" /></button
            >
        </span>
    </section>
    <!-- Body -->
    <section class="max-h-96 p-4">
        <slot name="body" />
    </section>
    <!-- Whenever this is needed? -->
    <section class="p-4">
        <slot name="footer" />
    </section>
</dialog>

<script>
    const buttons = document.querySelectorAll(`[id^='close-dialog']`);
    
    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            const modalId = button.id.replace(/^close-dialog-/, "");
            const modal = document.getElementById(modalId);
            if (modal instanceof HTMLDialogElement) {
                modal.close();
            }
        });
    });
</script>
