---
import Logo from "./Logo.astro";
---

<header class="border-b py-4 sticky top-0 bg-white z-10">
    <section class="mx-auto max-w-6xl px-4">
        <!-- Logo -->
        <Logo />
    </section>
</header>