---
import Logo from "./Logo.astro";
import { SiGithub } from "react-icons/si";
---

<header class="border-b py-4 sticky top-0 bg-background z-10">
    <section class="mx-auto max-w-6xl px-4 flex flex-row items-end">
        <!-- Logo -->
        <Logo />
        <a href="https://github.com/azan-n/prometheus-alerts" class="shrink ms-auto">
            <SiGithub className="h-6 w-6" />
        </a>
    </section>
</header>
